<%- include("./partials/head.ejs") %>

  <body id="page-top">
    
    <div id="wrapper">
     
      <%- include("./partials/sideBar.ejs") %>
      

      
      <div id="content-wrapper" class="d-flex flex-column">
        
        <div id="content">
         
              <%- include("./partials/topbar.ejs") %>

          <div class="container-fluid">
            
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
             >
            <!-- entry Blogs were here -->
             
                <center>

            
            <!-- <%- include("./partials/decard.ejs") %> -->
          </center>
            

              
            </div>  
            <table class="table table-light">
              <!-- <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead> -->
              <tbody>
                <center>
                  <tr>
                 
                    <td>  <center>Name</center></td>
                    <td>  <center>Shivam Sharma</center></td>
                    
                  
                  </tr>
                  <tr>
                  
                  <td>  <center>Department</center></td>
                  <td>  <center>SET - CSE (Computer Science & Engineering)</center></td>
                  
                </tr>
                <tr>
                 
                  <td>  <center>Email</center></td>
                  <td>  <center>shivam@gmail.com</center></td>
                 
            
                </tr>
                <tr>
                 
                  <td>  <center>Contact No </center></td>
                  <td>  <center>9999477203</center></td>
                  
                
                </tr>
                <!-- <tr>
                 
                  <td>  <center>Mark</center></td>
                  <td>  <center>Mark</center></td>
                  
                
                </tr> -->
                <!-- <tr>
                 
                  <td>  <center>Mark</center></td>
                  <td>  <center>Mark</center></td>
                  
                
                </tr> -->
              </center>
              </tbody>
              <br><br><br><br>
            </table>
            <br><br>
            <label for="exampleFormControlTextarea1">For any correction, contact IT department</label>
        </div>
        <br><br><br> <br><br>
        <%- include("./partials/footer.ejs") %>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("./partials/lout.ejs") %>
    <%- include("./partials/btrap.ejs") %>
  </body>
</html>
